{% extends "base.html" %}

{% block announce %}
<div>
    BNB Beacon Chain has been shut down at block height 385,251,927 since December 3, 2024. <a href="https://www.bnbchain.org/en/bnb-chain-fusion" target="_blank">Learn More</a>
</div>
{% endblock %}

{% block htmltitle %}
    {% if page.meta and page.meta.title %}
        <title>{{ page.meta.title }}</title>
    {% elif page.title and not page.is_homepage %}
        <title>{{ page.title | striptags }}</title>
    {% else %}
        <title> BNB Chain Documentation</title>
    {% endif %}
{% endblock %}

{% block footer %}
{% include "partials/footer.html" %}
<div class="doc-footer">
    <div class="doc-footer__inner md-grid">
        <div>
            <div>Explore</div>
            <ul>
                <li><a href="https://trustwallet.com/" target="_blank">Trust Wallet</a></li>
                <li><a href="https://www.bnbchain.org/en/binance-wallet" target="_blank">BNB Chain Wallet</a></li>
                <li><a href="https://dappbay.bnbchain.org/" target="_blank">DappBay</a></li>
            </ul>
        </div>
        <div>
            <div>Build</div>
            <ul>
                <li><a href="https://github.com/bnb-chain/whitepaper" target="_blank">Whitepaper</a></li>
                <li><a href="https://forum.bnbchain.org/" target="_blank">Build N' Build Forum</a></li>
                <li><a href="https://www.bnbchain.org/en/bnb-chain-bridges" target="_blank">Bridges</a></li>
            </ul>
        </div>
        <div>
            <div>Participate</div>
            <ul>
                <li><a href="https://www.bnbchain.org/en/events" target="_blank">Events</a></li>
                <li><a href="https://www.bnbchain.org/en/bsc-mvb-program" target="_blank">MVB Program</a></li>
                <li><a href="https://www.bnbchain.org/en/hackathon" target="_blank">Hackathon</a></li>
                <li><a href="https://www.bnbchain.org/en/developers/developer-programs" target="_blank">Developer
                    Programs</a></li>
                <li><a href="https://www.bnbchain.org/en/martians-program" target="_blank">Martians Program</a></li>
                <li><a href="https://bugbounty.bnbchain.org" target="_blank">Bug Bounty</a></li>
            </ul>
        </div>
        <div>
            <div>About</div>
            <ul>
                <li><a href="https://www.bnbchain.org/en/privacy-policy" target="_blank">Privacy Policy</a></li>
                <li><a href="https://www.bnbchain.org/en/terms" target="_blank">Terms of Use</a></li>
                <li><a href="https://jobs.bnbchain.org/companies/bnb-chain#content" target="_blank">Careers</a></li>
                <li><a href="https://www.bnbchain.org/en/official-verification" target="_blank">Verification</a></li>
                <li><a href="https://www.bnbchain.org/en/contact" target="_blank">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="doc-copyright">
    <div class="doc-copyright__inner md-grid">
        © 2024 Bnbchain.org. All rights reserved.
    </div>
</div>
{% endblock %}
